@import url('https://fonts.googleapis.com/css2?family=Actor&family=Adamina&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Actor', sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0 1.5em;
}

.navHero {
    width: 100%;
    max-height: 100vh;
    min-height: calc(100vh - 3.25rem);
    background-image: url("../images/moving 1.png");
    background-size: cover;
    overflow: hidden;
}

.navbar {
    min-width: 3.25rem;
    display: flex;
    justify-content: right;
    align-items: center;

}

.navbar .navbar-items {
    margin: 4em 10em 0 0;
}

.navbar .navbar-items li {
    display: inline-block;
    padding: 1em;
}

.navbar .navbar-items li a {
    font-family: 'Adamina', serif;
    color: #d4d4d4;
    text-decoration: none;
    padding-bottom: .5em;
    transition: all .3s ease-in-out;
}

.navbar .navbar-items li a:hover {
    color: #FAFF00;
    border-bottom: 2px solid #FAFF00;
}

/* no border on button */
.navbar .navbar-items li a.buttons:hover {
    border: none;
}

/* buttons  */
.buttons button {
    background-color: #FAFF00;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: #FAFF00 0px 0px 0px 0px inset;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;

    transition: ease-out 0.3s;
}

.buttons button.dark {
    background-color: #000;
    color: #FAFF00;
}

.buttons button:hover,
.buttons button:focus,
.buttons button:active {
    box-shadow: inset 105px 0px 0 0 #000;
    border: 1px solid #000;
    color: #FAFF00 !important;
}

.buttons button.dark:focus,
.buttons button.dark:hover,
.buttons button.dark:active {
    box-shadow: inset 105px 0px 0 0 #FAFF00;
    border: 1px solid #FAFF00;
    color: #000 !important;
}

.buttons.is-large button:hover,
.buttons.is-large button:focus,
.buttons.is-large button:active {
    box-shadow: inset 12.5em 0px 0 0 #000;
    border: 1px solid #000;
    color: #FAFF00 !important;
}

.buttons.is-large button.dark:focus,
.buttons.is-large button.dark:hover,
.buttons.is-large button.dark:active {
    box-shadow: inset 12.5em 0px 0 0 #FAFF00;
    border: 1px solid #FAFF00;
    color: #000 !important;
}

/* section  */
.section {
    padding: 3em 2em;
    width: 100vw;
    min-height: calc(100vh - 3.25rem);

}

/* section columns  */
.section .columns {
    width: 100vw;
    margin: 0 1em;
    padding: 0 2em;
    display: flex;
}
.columns.is-multiline {
    flex-wrap: wrap;
  }
.section.hero-body .columns{
    display: flex;
    align-items: center;
    /* height: 90vh; */
    border: 1px solid black;
}

.section .columns .column.is-6 {
    width: 50%;
}
.section .columns .column.is-4 {
    width: 25.4%;
}

.section.hero .columns h1.title {
    color: #FAFF00;
    font-size: 3em;
    font-family: 'Adamina', serif;
    font-weight: 200;
    margin-bottom: 1em;
    line-height: 1.3em;
    overflow: hidden;
}

.section.hero .columns p.content {
    font-size: 1.5em;
    color: #d4d4d4;
}

.image.is-large {
    height: 30em;
    width: 30em;
    position: relative;
}

.image.is-large img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* margins */
.ml-0 {
    margin-left: 0 !important;
}

/* paddings */
.pl-0 {
    padding-left: 0 !important;
}

/* containers */
.column .container {
    width: 50%;
    margin: 6em 0;
}

.column .container .title {
    padding: 1em 0;
    font-size: 2em;
    font-family: 'Adamina', serif;
    position: relative;
}

.column .container .title::before {
    content: "";
    display: block;
    width: 4em;
    height: 5px;
    border-radius: 1em;
    background: linear-gradient(to right, #FAFF00, #000);
    left: 0;
    top: .5em;
    position: absolute;
}

.column .container .content {
    color: #adadad;
    font-weight: 600;
}

.buttons.is-large {
    margin: 2em 0;
}

.buttons.is-large button {
    border-radius: 0 10px 0 0;
    padding: 1em 2em;
}

.buttons.is-large button i {
    padding-left: 1em;
}

/* card */
.card {
    position: relative;
    padding: 1.5em;
    background: #fff;
    border-radius: 5px;
}

.card .image{
    height: 250px;
    /* box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35); */
    overflow: hidden;
    position: relative;
}

.card .image img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}